.AppGallery {
    text-align: center;
    padding-bottom: 20px;
    background-color: bisque;
    height: 100%;
}

.titleGallery {
    position: relative;
    background-image: -webkit-linear-gradient(#378DBC 0%, #B6E8F1 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 4px #f5f5f5;
    font-size: 200px;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    margin: 0;
    line-height: 1;
}

.titleGallery:before {
    content: 'CHROME';
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
    background-position: -680px 0;
    -webkit-background-clip: text;
    -webkit-text-stroke: 0;
    padding-right: 300px;
    -webkit-animation-name: chrome_effect;
    -webkit-animation-duration: 6s;
    -webkit-animation-delay: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

.gallery {
    margin-top: 20px;
    position: relative
}

.arrowLeft {
    color: snow;
    position: absolute;
    left: 50px;
    top: 272px;
    user-select: none;
}

.arrowRight {
    color: snow;
    position: absolute;
    top: 272px;
    left: 750px;
    user-select: none;
}

.arrowRight:hover {
    cursor: pointer;
}

.arrowLeft:hover {
    cursor: pointer;
}

.rightPicGallery {
    position: absolute;
    transition: 1s;
    transition-timing-function: linear;
    height: 544px;
}

.leftPicGallery {
    position: absolute;
    height: 544px;
    transition: 2s;
}

.mainPic {
    position: absolute;
    height: 540px;
    transition: 1s;
    transition-timing-function: linear;
}

.imageWrapper {
    border: solid 2px blue;
    position: relative;
    width: 800px;
    background-color: black;
    overflow: hidden;
    display: flex;
    height: 544px;
    margin: 0 auto;
}

.imageGallery {
    width: 600px;
    height: 544px;
}

.SliderComponent {
    position: relative;
    margin: 0 auto;
    margin-top: 25px;
    text-align: start;
    width: 800px;
    overflow: hidden;
    height: 70px;
}

.slider {
    height: 70px;
    overflow: hidden;
    display: flex;
    position: absolute;
    transition: 1s;
}

.imgSlider {
    height: 40px;
    width: 70px;
    margin-right: 5px;
    cursor: pointer;
    display: block;
}

.currentSlider {
    height: 46px;
    width: 76px;
    transition: .3s ease-out;
    box-sizing: border-box;
    margin-top: 2px;
    border: solid 3px blue;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .4);
}

.galleryButton {
    font-size: 22px;
    color: burlywood;
    background-color: bisque;
    font-family: Lato;
    width: 105px;
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, .75);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, .75);
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 25px;
    left: 25px;
    z-index: 25;
}

.loader-hidden {
    display: none;
}

.loader-active {
    display: block;
}

@media only screen and (max-width: 1200px) {
    .AppGallery {
        height: 100vh;
    }

    .titleGallery {
        font-size: 60px;
    }

    .imageWrapper {
        width: 400px;
        height: 300px;
    }

    .imageGallery {
        width: 200px;
        height: 300px;
    }

    .mainPic {
        height: 300px;
    }

    .slider {
        display: none;
    }

    .arrowLeft {
        top: 150px;
        left: 15px;
    }

    .arrowRight {
        top: 150px;
        left: unset;
        right: 15px;
    }

    .galleryButton {
        width: 60px;
        height: 20px;
        left: 2px;
    }

    .SliderComponent {
        display: none;
    }

    .titleGallery:before {
        padding-right: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .imageGallery {
        width: 320px;
        height: 250px;
        left: 50px;
    }

    .imageWrapper {
        width: 320px;
        height: 250px;
    }

    .arrowRight {
        top: 125px;
        right: 20px;
        left: unset;
    }

    .arrowLeft {
        top: 125px;
        left: 20px;
    }

    .galleryButton {
        position: initial;
        margin-top: 30px;
    }
}
